.banner {
  background-color: #4d00ff;
  color: #fff;
  margin-top: 50px;
  text-align: center;
  padding: 100px 0;
}
#small-gritty {
  width: 150px;
  height: 100px;
  filter: drop-shadow(1px 1px 1px black);
}

#gritter {
  font-size: xx-large;
  color: #4d00ff;
  filter: drop-shadow(2px 2px 2px #4d00ff);
}

.bold {
  font-weight: 900;
}

.navbar {
  background-color: #fff;
  position: fixed;
  top: o;
  width: 100%;
}

.navbar li {
  /* When you use a display inline block list elements, signs will be hiden */
  display: inline-block;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}
a.blue {
  color: blue;
}
#greets ul {
  list-style-type: none;
}
.gritter-section {
  padding: 20px 50px;
}
.avatar {
  background-image: url("../images/gritty.png");
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
